# Environment Variables Reference
# 
# These variables are automatically created by Convex when you start the project.
# You don't need to edit these manually—Convex handles it.
#
# This file is just for reference.

NEXT_PUBLIC_CONVEX_URL=http://127.0.0.1:3210
CONVEX_DEPLOYMENT=anonymous:anonymous-convex-platform
NEXT_PUBLIC_CONVEX_SITE_URL=http://127.0.0.1:3211
